body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #a1d6f0;
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 5px solid #ffb6c1;
}
h1 {
    color: #333;
}
table {
    width: 100%;
    margin-top: 20px;
}
td {
    padding: 10px;
    color: #696969;
}
td:nth-child(2) {
    width: 5px;
}
.profile-container table {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
